@media screen and (max-width: 1440px) {
  .wrapper {
    font-size: 0vw;
    font-family: 'SamsungOneKorean', Dotum, '돋움', sans-serif;
  }
  .wrapper .mo {
    display: none;
  }
  .wrapper .web {
    display: inline-block;
  }
  .wrapper img {
    width: 100%;
    vertical-align: top;
  }
  .wrapper .btn {
    position: relative;
    cursor: pointer;
    z-index: 1;
  }
  .wrapper .blind-txt {
    display: none;
  }
  .wrapper .ss-one {
    font-family: 'SamsungOneKorean', sans-serif;
  }
  .wrapper .sharp {
    font-family: SamsungSharpSans, sans-serif;
  }
  .wrapper .sharp.sharp-m {
    font-weight: 500;
  }
  .wrapper section {
    text-align: center;
  }
  .wrapper section article {
    position: relative;
  }
  .wrapper section article .step-wrap .step {
    width: 33.33333333vw;
    height: 19.16666667vw;
    margin-bottom: 2.08333333vw;
  }
  .wrapper section article .notice {
    width: 33.33333333vw;
    height: 7.96875vw;
    border-radius: 1.35416667vw;
    background-color: #2e2e2e;
    padding-left: 1.5625vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper section article .notice img {
    width: 3.75vw;
    height: 3.75vw;
    margin-right: 0.83333333vw;
  }
  .wrapper section article .notice p {
    font-size: 1.14583333vw;
    line-height: 1.66666667vw;
    letter-spacing: -0.035em;
    color: #fff;
  }
  .wrapper section article h4 {
    text-align: center;
    margin-bottom: 2.34375vw;
  }
  .wrapper section article h4 span {
    font-size: 1.35416667vw;
    color: #fff;
    font-weight: 700;
    padding-bottom: 0.52083333vw;
    box-sizing: border-box;
    border-bottom: 2px solid #fff;
    display: inline-block;
  }
  .wrapper section article.art1 {
    width: 37.5vw;
    height: 156.5625vw;
    background-image: url('../images/pc/evt0224-art1-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section article.art1 .tit {
    width: 16.97916667vw;
    height: 1.82291667vw;
    background-image: url('../images/pc/evt0224-tit.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-top: 7.76041667vw;
  }
  .wrapper section article.art1 .sub-tit {
    width: 26.92708333vw;
    height: 16.25vw;
    background-image: url('../images/pc/evt0224-sub-tit.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-top: 2.34375vw;
  }
  .wrapper section article.art1 .txt {
    font-size: 1.45833333vw;
    line-height: 1.5625vw;
    font-weight: 500;
    color: #fff;
    margin-top: 2.13541667vw;
    letter-spacing: -0.035em;
  }
  .wrapper section article.art1 .event-btn {
    width: 17.70833333vw;
    height: 4.16666667vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 27.13541667vw;
    display: block;
  }
  .wrapper section article.art1 h3 {
    width: 19.0625vw;
    height: 3.4375vw;
    background-image: url('../images/pc/evt0224-sub-tit2.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-top: 7.86458333vw;
    margin-right: 0vw;
    margin-bottom: 3.17708333vw;
    margin-left: 0vw;
  }
  .wrapper section article.benefits {
    padding-top: 7.8125vw;
    box-sizing: border-box;
  }
  .wrapper section article.benefits > .tit {
    font-size: 1.45833333vw;
    line-height: 2.55208333vw;
    font-family: SamsungSharpSans, sans-serif;
    font-weight: 500;
    color: #4382d6;
    border-top: 2px solid #4382d6;
    border-bottom: 2px solid #4382d6;
    display: inline-block;
    margin-bottom: 2.23958333vw;
  }
  .wrapper section article.benefits > .tit.sharp-m {
    font-weight: 500;
  }
  .wrapper section article.benefits > .tit b {
    font-weight: 700;
  }
  .wrapper section article.benefits h3 {
    display: inline-block;
    margin-bottom: 1.97916667vw;
  }
  .wrapper section article.benefits .txt {
    font-size: 1.45833333vw;
    line-height: 1.82291667vw;
    color: #fff;
  }
  .wrapper section article.benefits .txt em {
    font-weight: 700;
  }
  .wrapper section article.benefits .txt s {
    font-size: 1.14583333vw;
    line-height: 2.1875vw;
    font-weight: 400 !important;
    color: #a9bada;
    display: block;
    text-decoration: none;
  }
  .wrapper section article.art2 {
    width: 37.5vw;
    height: 76.51041667vw;
    background-image: url('../images/pc/evt0224-art2-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section article.art2 h3 {
    width: 30.78125vw;
    height: 9.11458333vw;
    background-image: url('../images/pc/evt0224-sub-tit3.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section article.art3 {
    width: 37.5vw;
    height: 117.76041667vw;
    background-image: url('../images/pc/evt0224-art3-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section article.art3 h3 {
    width: 25.41666667vw;
    height: 9.0625vw;
    background-image: url('../images/pc/evt0224-sub-tit4.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section article.art4 {
    width: 37.5vw;
    height: 143.90625vw;
    background-image: url('../images/pc/evt0224-art4-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section article.art4 h3 {
    width: 26.66666667vw;
    height: 4.11458333vw;
    background-image: url('../images/pc/evt0224-sub-tit5.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section article.art4 .code-wrap {
    margin-top: 12.70833333vw;
  }
  .wrapper section article.art4 .code-wrap .tit {
    font-size: 1.82291667vw;
    color: #fff;
    letter-spacing: -0.035em;
    font-weight: 700;
    margin-bottom: 1.61458333vw;
  }
  .wrapper section article.art4 .code-wrap .txt {
    font-size: 1.35416667vw;
    line-height: 1.875vw;
    margin-bottom: 0.98958333vw;
  }
  .wrapper section article.art4 .code-wrap .txt em {
    font-weight: 700;
  }
  .wrapper section article.art4 h4 {
    margin-top: 24.84375vw;
  }
  .wrapper section article.art5 {
    width: 37.5vw;
    height: 78.59375vw;
    background-image: url('../images/pc/evt0224-art5-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section article.art5 h3 {
    width: 27.5vw;
    height: 9.01041667vw;
    background-image: url('../images/pc/evt0224-sub-tit6.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section article.art5 .txt s {
    font-size: 1.14583333vw;
    line-height: 1.66666667vw;
    color: #a4a4a4;
    display: block;
    margin-top: 0.26041667vw;
  }
  .wrapper section article.art6 {
    width: 37.5vw;
    height: 28.48958333vw;
    background-image: url('../images/pc/evt0224-art6-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 2.08333333vw;
    box-sizing: border-box;
  }
  .wrapper section article.art6 h4 {
    margin-bottom: 2.08333333vw;
  }
  .wrapper section article.art6 .g-tit {
    font-size: 1.82291667vw;
    line-height: 2.29166667vw;
    letter-spacing: -0.035em;
    color: #fff;
    font-weight: 700;
    text-align: left;
    margin-bottom: 0.78125vw;
  }
  .wrapper section article.art6 .g-txt {
    font-size: 1.35416667vw;
    line-height: 1.875vw;
    letter-spacing: -0.035em;
    color: #fff;
    font-weight: 500;
    text-align: left;
  }
  .wrapper section article.art7 {
    width: 37.5vw;
    height: 95.46875vw;
    background-image: url('../images/pc/evt0224-art7-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 4.94791667vw;
    box-sizing: border-box;
  }
  .wrapper section article.art8 {
    width: 37.5vw;
    height: 26.25vw;
    background-image: url('../images/pc/evt0224-art8-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 4.94791667vw;
    box-sizing: border-box;
  }
  .wrapper section article.art9 {
    width: 37.5vw;
    height: 84.32291667vw;
    background-image: url('../images/mo/evt0224-art9-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding: 4.94791667vw;
    box-sizing: border-box;
  }
  .wrapper section article.art9 .tag-wrap {
    width: 10.9375vw;
    height: 2.08333333vw;
    position: absolute;
    left: 4.21875vw;
    top: 41.04166667vw;
    right: auto;
    bottom: auto;
  }
  .wrapper section article.art9 .event-btn {
    width: 15.625vw;
    height: 4.16666667vw;
    margin-top: 62.70833333vw;
  }
  .wrapper .notice-wrap {
    padding-top: 5.20833333vw;
    padding-right: 2.08333333vw;
    padding-bottom: 5.20833333vw;
    padding-left: 2.08333333vw;
    box-sizing: border-box;
    background-color: #000;
  }
  .wrapper .notice-wrap p {
    color: #fff;
    letter-spacing: -0.035em;
  }
  .wrapper .notice-wrap p.tit {
    font-size: 1.25vw;
    line-height: 1.61458333vw;
    color: #fff;
    font-weight: 700;
    margin-bottom: 1.14583333vw;
  }
  .wrapper .notice-wrap p.txt {
    font-size: 1.14583333vw;
    line-height: 1.77083333vw;
    color: #9c9c9c;
    text-indent: -0.36458333vw;
    margin-left: 0.36458333vw;
  }
}
/*# sourceMappingURL=style-t.css.map */