@media screen and (min-width: 1921px) {
  .wrapper {
    font-size: 0px;
    font-family: 'SamsungOneKorean', Dotum, '돋움', sans-serif;
    background-color: #fff;
  }
  .wrapper .mo {
    display: none;
  }
  .wrapper .web {
    display: inline-block;
  }
  .wrapper img {
    max-width: 1920px;
  }
  .wrapper .btn {
    position: relative;
    cursor: pointer;
    z-index: 1;
  }
  .wrapper .blind-txt {
    display: none !important;
  }
  .wrapper section {
    position: relative;
    text-align: center;
  }
  .wrapper section .anchor {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 1px;
    opacity: 0;
    pointer-events: none;
  }
  .wrapper section .anchor#evt1 {
    top: 783px;
  }
  .wrapper section .anchor#evt2 {
    top: 1950px;
  }
  .wrapper section .anchor#evt3 {
    top: 3250px;
  }
  .wrapper section .anchor#evt4 {
    top: 4440px;
  }
  .wrapper section .tab-wrap {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 95px;
    text-align: center;
    z-index: 2;
    background-color: #e97394 !important;
  }
  .wrapper section .tab-wrap .tab-inner {
    width: 1320px;
    height: 95px;
    justify-content: flex-start;
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    display: inline-flex;
    position: relative;
    background-color: #ededed;
  }
  .wrapper section .tab-wrap .tab-inner .evt-tab {
    width: 330px;
    height: 95px;
  }
  .wrapper section .tab-wrap .tab-inner .tab1 {
    background-image: url('../images/pc/tab1.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section .tab-wrap .tab-inner .tab2 {
    background-image: url('../images/pc/tab2.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section .tab-wrap .tab-inner .tab3 {
    background-image: url('../images/pc/tab3.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section .tab-wrap .tab-inner .tab4 {
    background-image: url('../images/pc/tab4.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section[data-view="1"] .tab-wrap {
    background: none;
  }
  .wrapper section[data-view="2"] .tab-wrap {
    background: none;
  }
  .wrapper section[data-view="3"] .tab-wrap {
    background: none;
  }
  .wrapper section[data-view="4"] .tab-wrap {
    background: none;
  }
  .wrapper section[data-view="1"] .tab-wrap .tab-inner .tab1 {
    background-image: url('../images/pc/tab1-on.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section[data-view="2"] .tab-wrap .tab-inner .tab2 {
    background-image: url('../images/pc/tab2-on.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section[data-view="3"] .tab-wrap .tab-inner .tab3 {
    background-image: url('../images/pc/tab3-on.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section[data-view="4"] .tab-wrap .tab-inner .tab4 {
    background-image: url('../images/pc/tab4-on.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section .evt-cont {
    position: relative;
  }
  .wrapper section .evt-cont .evt-btn {
    width: 280px;
    height: 60px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    right: auto;
    top: auto;
    transform: translateX(-50%);
  }
  .wrapper section .evt-cont.evt5 .evt-btn {
    width: 180px;
    height: 60px;
    bottom: 145px;
    transform: translateX(0);
    margin-left: 240px;
  }
  .wrapper section.evt-2030 .anchor#evt2 {
    top: 1910px;
  }
  .wrapper section.evt-2030 .anchor#evt3 {
    top: 3110px;
  }
  .wrapper section.evt-2030 .anchor#evt4 {
    top: 4400px;
  }
  .wrapper section.evt-2030 .tab-wrap .tab-inner .tab1 {
    background-image: url('../images/pc/tab4.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section.evt-2030 .tab-wrap .tab-inner .tab2 {
    background-image: url('../images/pc/tab3.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section.evt-2030 .tab-wrap .tab-inner .tab3 {
    background-image: url('../images/pc/tab1.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section.evt-2030 .tab-wrap .tab-inner .tab4 {
    background-image: url('../images/pc/tab2.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section.evt-2030[data-view="1"] .tab-wrap .tab-inner .tab1 {
    background-image: url('../images/pc/tab4-on.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section.evt-2030[data-view="2"] .tab-wrap .tab-inner .tab2 {
    background-image: url('../images/pc/tab3-on.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section.evt-2030[data-view="3"] .tab-wrap .tab-inner .tab3 {
    background-image: url('../images/pc/tab1-on.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section.evt-2030[data-view="4"] .tab-wrap .tab-inner .tab4 {
    background-image: url('../images/pc/tab2-on.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section.evt-senior .anchor#evt2 {
    top: 1960px;
  }
  .wrapper section.evt-senior .anchor#evt3 {
    top: 3250px;
  }
  .wrapper section.evt-senior .anchor#evt4 {
    top: 4450px;
  }
  .wrapper section.evt-senior .tab-wrap .tab-inner .tab1 {
    background-image: url('../images/pc/tab2.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section.evt-senior .tab-wrap .tab-inner .tab2 {
    background-image: url('../images/pc/tab1.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section.evt-senior .tab-wrap .tab-inner .tab3 {
    background-image: url('../images/pc/tab3.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section.evt-senior .tab-wrap .tab-inner .tab4 {
    background-image: url('../images/pc/tab4.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section.evt-senior[data-view="1"] .tab-wrap .tab-inner .tab1 {
    background-image: url('../images/pc/tab2-on.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section.evt-senior[data-view="2"] .tab-wrap .tab-inner .tab2 {
    background-image: url('../images/pc/tab1-on.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section.evt-senior[data-view="3"] .tab-wrap .tab-inner .tab3 {
    background-image: url('../images/pc/tab3-on.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section.evt-senior[data-view="4"] .tab-wrap .tab-inner .tab4 {
    background-image: url('../images/pc/tab4-on.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section.evt-parents .anchor#evt2 {
    top: 1880px;
  }
  .wrapper section.evt-parents .anchor#evt3 {
    top: 3110px;
  }
  .wrapper section.evt-parents .anchor#evt4 {
    top: 4400px;
  }
  .wrapper section.evt-parents .tab-wrap .tab-inner .tab1 {
    background-image: url('../images/pc/tab3.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section.evt-parents .tab-wrap .tab-inner .tab2 {
    background-image: url('../images/pc/tab4.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section.evt-parents .tab-wrap .tab-inner .tab3 {
    background-image: url('../images/pc/tab1.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section.evt-parents .tab-wrap .tab-inner .tab4 {
    background-image: url('../images/pc/tab2.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section.evt-parents[data-view="1"] .tab-wrap .tab-inner .tab1 {
    background-image: url('../images/pc/tab3-on.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section.evt-parents[data-view="2"] .tab-wrap .tab-inner .tab2 {
    background-image: url('../images/pc/tab4-on.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section.evt-parents[data-view="3"] .tab-wrap .tab-inner .tab3 {
    background-image: url('../images/pc/tab1-on.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section.evt-parents[data-view="4"] .tab-wrap .tab-inner .tab4 {
    background-image: url('../images/pc/tab2-on.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
}
/*# sourceMappingURL=style-pc.css.map */