html {
  scroll-behavior: smooth;
}
.wrapper {
  font-size: 0vw;
  font-family: 'SamsungOneKorean', Dotum, '돋움', sans-serif;
  background-color: #fff;
}
.wrapper .mo {
  display: inline-block;
}
.wrapper .web {
  display: none;
}
.wrapper img {
  width: 100%;
  vertical-align: top;
}
.wrapper .evt-btn {
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.wrapper .blind-txt {
  display: none !important;
}
.wrapper section {
  position: relative;
}
.wrapper section .anchor {
  position: absolute;
  left: 0vw;
  width: 100%;
  height: 0.13888889vw;
  opacity: 0;
  pointer-events: none;
}
.wrapper section .anchor#evt1 {
  top: 168.05555556vw;
}
.wrapper section .anchor#evt2 {
  top: 344.44444444vw;
}
.wrapper section .anchor#evt3 {
  top: 558.33333333vw;
}
.wrapper section .anchor#evt4 {
  top: 761.11111111vw;
}
.wrapper section .tab-wrap {
  width: 100vw;
  height: 27.77777778vw;
  position: relative;
  z-index: 2;
  background-color: #efefef;
}
.wrapper section .tab-wrap .tab-inner {
  width: 100vw;
  height: 27.77777778vw;
  justify-content: space-between;
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}
.wrapper section .tab-wrap .tab-inner .evt-tab {
  width: 50vw;
  height: 13.88888889vw;
  position: relative;
}
.wrapper section .tab-wrap .tab-inner .evt-tab:after {
  content: '';
  display: block;
  width: 50vw;
  height: 13.75vw;
  border: 1px solid #dedede;
  position: absolute;
  left: 0vw;
  top: 0vw;
  right: auto;
  bottom: auto;
  pointer-events: none;
}
.wrapper section .tab-wrap .tab-inner .tab1 {
  background-image: url('../images/mo/tab1.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper section .tab-wrap .tab-inner .tab2 {
  background-image: url('../images/mo/tab2.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper section .tab-wrap .tab-inner .tab3 {
  background-image: url('../images/mo/tab3.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper section .tab-wrap .tab-inner .tab4 {
  background-image: url('../images/mo/tab4.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper section[data-view="1"] .tab-wrap .tab-inner .tab1 {
  background-image: url('../images/mo/tab1-on.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper section[data-view="2"] .tab-wrap .tab-inner .tab2 {
  background-image: url('../images/mo/tab2-on.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper section[data-view="3"] .tab-wrap .tab-inner .tab3 {
  background-image: url('../images/mo/tab3-on.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper section[data-view="4"] .tab-wrap .tab-inner .tab4 {
  background-image: url('../images/mo/tab4-on.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper section .evt-cont {
  position: relative;
}
.wrapper section .evt-cont .evt-btn {
  width: 42.77777778vw;
  height: 9.16666667vw;
  position: absolute;
  left: 50%;
  bottom: 0vw;
  right: auto;
  top: auto;
  transform: translateX(-50%);
}
.wrapper section .evt-cont.evt5 .evt-btn {
  width: 22.22222222vw;
  height: 8.33333333vw;
  bottom: 15vw;
}
.wrapper section.evt-2030 .anchor#evt2 {
  top: 348.61111111vw;
}
.wrapper section.evt-2030 .anchor#evt3 {
  top: 552.77777778vw;
}
.wrapper section.evt-2030 .anchor#evt4 {
  top: 754.16666667vw;
}
.wrapper section.evt-2030 .tab-wrap .tab-inner .tab1 {
  background-image: url('../images/mo/tab4.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper section.evt-2030 .tab-wrap .tab-inner .tab2 {
  background-image: url('../images/mo/tab3.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper section.evt-2030 .tab-wrap .tab-inner .tab3 {
  background-image: url('../images/mo/tab1.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper section.evt-2030 .tab-wrap .tab-inner .tab4 {
  background-image: url('../images/mo/tab2.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper section.evt-2030[data-view="1"] .tab-wrap .tab-inner .tab1 {
  background-image: url('../images/mo/tab4-on.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper section.evt-2030[data-view="2"] .tab-wrap .tab-inner .tab2 {
  background-image: url('../images/mo/tab3-on.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper section.evt-2030[data-view="3"] .tab-wrap .tab-inner .tab3 {
  background-image: url('../images/mo/tab1-on.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper section.evt-2030[data-view="4"] .tab-wrap .tab-inner .tab4 {
  background-image: url('../images/mo/tab2-on.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper section.evt-senior .anchor#evt2 {
  top: 355.55555556vw;
}
.wrapper section.evt-senior .anchor#evt3 {
  top: 556.94444444vw;
}
.wrapper section.evt-senior .anchor#evt4 {
  top: 758.33333333vw;
}
.wrapper section.evt-senior .tab-wrap .tab-inner .tab1 {
  background-image: url('../images/mo/tab2.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper section.evt-senior .tab-wrap .tab-inner .tab2 {
  background-image: url('../images/mo/tab1.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper section.evt-senior .tab-wrap .tab-inner .tab3 {
  background-image: url('../images/mo/tab3.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper section.evt-senior .tab-wrap .tab-inner .tab4 {
  background-image: url('../images/mo/tab4.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper section.evt-senior[data-view="1"] .tab-wrap .tab-inner .tab1 {
  background-image: url('../images/mo/tab2-on.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper section.evt-senior[data-view="2"] .tab-wrap .tab-inner .tab2 {
  background-image: url('../images/mo/tab1-on.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper section.evt-senior[data-view="3"] .tab-wrap .tab-inner .tab3 {
  background-image: url('../images/mo/tab3-on.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper section.evt-senior[data-view="4"] .tab-wrap .tab-inner .tab4 {
  background-image: url('../images/mo/tab4-on.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper section.evt-parents .anchor#evt2 {
  top: 341.66666667vw;
}
.wrapper section.evt-parents .anchor#evt3 {
  top: 552.77777778vw;
}
.wrapper section.evt-parents .anchor#evt4 {
  top: 755.55555556vw;
}
.wrapper section.evt-parents .tab-wrap .tab-inner .tab1 {
  background-image: url('../images/mo/tab3.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper section.evt-parents .tab-wrap .tab-inner .tab2 {
  background-image: url('../images/mo/tab4.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper section.evt-parents .tab-wrap .tab-inner .tab3 {
  background-image: url('../images/mo/tab1.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper section.evt-parents .tab-wrap .tab-inner .tab4 {
  background-image: url('../images/mo/tab2.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper section.evt-parents[data-view="1"] .tab-wrap .tab-inner .tab1 {
  background-image: url('../images/mo/tab3-on.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper section.evt-parents[data-view="2"] .tab-wrap .tab-inner .tab2 {
  background-image: url('../images/mo/tab4-on.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper section.evt-parents[data-view="3"] .tab-wrap .tab-inner .tab3 {
  background-image: url('../images/mo/tab1-on.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper section.evt-parents[data-view="4"] .tab-wrap .tab-inner .tab4 {
  background-image: url('../images/mo/tab2-on.png');
  background-repeat: no-repeat;
  background-size: cover;
}
/*# sourceMappingURL=style-mo.css.map */