@media screen and (min-width: 1441px) {
  .wrapper {
    font-size: 0px;
    font-family: 'SamsungOneKorean', Dotum, '돋움', sans-serif;
    background-color: #fff;
  }
  .wrapper .mo {
    display: none;
  }
  .wrapper .web {
    display: inline-block;
  }
  .wrapper img {
    width: 100%;
    vertical-align: top;
  }
  .wrapper .btn {
    position: relative;
    cursor: pointer;
    z-index: 1;
  }
  .wrapper .blind-txt {
    display: none !important;
  }
  .wrapper .ss-one {
    font-family: 'SamsungOneKorean', sans-serif;
  }
  .wrapper .sharp {
    font-family: 'SamsungSharpSans', sans-serif;
  }
  .wrapper .sharp.sharp-m {
    font-weight: 500;
  }
  .wrapper section article {
    width: auto!important;
  }
  .wrapper section article.top {
    height: 800px;
    background: url('../images/pc/dv-kv.png') center top no-repeat;
  }
  .wrapper section article.art1 {
    height: 959px;
    background: url('../images/pc/dv-art1.png') center top no-repeat;
    padding-top: 606px;
    box-sizing: border-box;
  }
  .wrapper section article.art1 .art-inner {
    display: flex;
    justify-content: space-between;
    width: 1439px;
    height: 353px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row-reverse;
  }
  .wrapper section article.art1 .art-inner .store-wrap {
    margin-bottom: 0px;
  }
  .wrapper section article.art1 .art-inner .store-wrap .store-info {
    width: 441px;
    height: 353px;
  }
  .wrapper section article.art1 .art-inner .store-wrap .store-info ul li {
    text-align: left;
    display: none;
  }
  .wrapper section article.art1 .art-inner .store-wrap .store-info ul li div {
    padding-top: 42px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 40px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
  }
  .wrapper section article.art1 .art-inner .store-wrap .store-info ul li div p {
    font-size: 26px;
    line-height: 38px;
    font-weight: 300;
    color: #fff;
    letter-spacing: -0.03em;
  }
  .wrapper section article.art1 .art-inner .store-wrap .store-info ul li div p span {
    font-family: 'SamsungSharpSans', sans-serif;
  }
  .wrapper section article.art1 .art-inner .store-wrap .store-info ul li div p span.sharp-m {
    font-weight: 500;
  }
  .wrapper section article.art1 .art-inner .store-wrap .store-info ul li div p.tit {
    font-size: 30px;
    line-height: 44px;
    font-weight: 600;
  }
  .wrapper section article.art1 .art-inner .store-wrap .store-info ul li div.nm {
    width: 388px;
  }
  .wrapper section article.art1 .art-inner .store-wrap .store-info ul li div.operating {
    width: 252px;
  }
  .wrapper section article.art1 .art-inner .store-tab {
    width: 916px;
    height: 353px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }
  .wrapper section article.art1 .art-inner .store-tab .dv-tab {
    font-size: 30px;
    line-height: 93px;
    color: #fff;
    padding-left: 73px;
    box-sizing: border-box;
    width: 440px;
    height: 93px;
    text-align: left;
    border: 2px solid #3b3b3b;
    position: relative;
    cursor: pointer;
    z-index: 1;
  }
  .wrapper section article.art1 .art-inner .store-tab .dv-tab:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    right: auto;
    bottom: auto;
    background-image: url('../images/pc/dv-loc-off.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section article.art1[data-store="1"] .store-wrap .store-info ul li.st1,
  .wrapper section article.art1[data-store="2"] .store-wrap .store-info ul li.st2,
  .wrapper section article.art1[data-store="3"] .store-wrap .store-info ul li.st3,
  .wrapper section article.art1[data-store="4"] .store-wrap .store-info ul li.st4,
  .wrapper section article.art1[data-store="5"] .store-wrap .store-info ul li.st5,
  .wrapper section article.art1[data-store="6"] .store-wrap .store-info ul li.st6 {
    display: block;
  }
  .wrapper section article.art1[data-store="1"] .store-tab [data-tab="1"],
  .wrapper section article.art1[data-store="2"] .store-tab [data-tab="2"],
  .wrapper section article.art1[data-store="3"] .store-tab [data-tab="3"],
  .wrapper section article.art1[data-store="4"] .store-tab [data-tab="4"],
  .wrapper section article.art1[data-store="5"] .store-tab [data-tab="5"],
  .wrapper section article.art1[data-store="6"] .store-tab [data-tab="6"] {
    border: 2px solid #fff;
  }
  .wrapper section article.art1[data-store="1"] .store-tab [data-tab="1"]:after,
  .wrapper section article.art1[data-store="2"] .store-tab [data-tab="2"]:after,
  .wrapper section article.art1[data-store="3"] .store-tab [data-tab="3"]:after,
  .wrapper section article.art1[data-store="4"] .store-tab [data-tab="4"]:after,
  .wrapper section article.art1[data-store="5"] .store-tab [data-tab="5"]:after,
  .wrapper section article.art1[data-store="6"] .store-tab [data-tab="6"]:after {
    background-image: url('../images/pc/dv-loc-on.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section article.art2 {
    height: 1998px;
    background: url('../images/pc/dv-art2.png') center top no-repeat;
  }
  .wrapper section article.art3 {
    height: 1475px;
    background: url('../images/pc/dv-art3.png') center top no-repeat;
  }
  .wrapper section article.art3 .dv-btn {
    width: 220px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 1372px;
    right: auto;
    bottom: auto;
    margin-left: -81px;
  }
  .wrapper section article.art3 .dv-btn:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../images/pc/ico-model-chk.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0px;
    top: 0px;
    right: auto;
    bottom: auto;
  }
  .wrapper section article.art3 .dv-btn.on:after {
    transform: rotateX(180deg);
  }
  .wrapper section article.model {
    height: 394px;
    background: url('../images/pc/dv-art3-model.png') center top no-repeat;
    padding-top: 142px;
    box-sizing: border-box;
    display: none;
  }
  .wrapper section article.model ul {
    width: 1102px;
    height: 252px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    align-content: space-between;
  }
  .wrapper section article.model ul li {
    width: 1102px;
    height: 54px;
    display: flex;
    justify-content: space-between;
  }
  .wrapper section article.model ul li p {
    font-size: 26px;
    line-height: 54px;
    letter-spacing: -0.03em;
    color: #fff;
    text-align: center;
    width: 545px;
    height: 54px;
  }
  .wrapper section article.model.on {
    display: block;
  }
  .wrapper section article.art4 {
    height: 1407px;
    background: url('../images/pc/dv-art4.png') center top no-repeat;
  }
  .wrapper section article.art5 {
    height: 1455px;
    background: url('../images/pc/dv-art5.png') center top no-repeat;
  }
  .wrapper section article.art5 .dv-btn {
    width: 234px;
    height: 65px;
    position: absolute;
    z-index: 1;
  }
  .wrapper section article.art5 .dv-btn.dv-btn1 {
    left: 50%;
    top: 1044px;
    right: auto;
    bottom: auto;
    margin-left: -616px;
  }
  .wrapper section article.art5 .dv-btn.dv-btn2 {
    left: 50%;
    top: 1044px;
    right: auto;
    bottom: auto;
    margin-left: -118px;
  }
  .wrapper section article.art5 .dv-btn.dv-btn3 {
    left: 50%;
    top: 1044px;
    right: auto;
    bottom: auto;
    margin-left: 376px;
  }
  .wrapper section article.art6 {
    height: 315px;
    background: url('../images/pc/dv-art6.png') center top no-repeat;
  }
}
/*# sourceMappingURL=style-pc.css.map */