.wrapper {
  font-size: 0vw;
  font-family: 'SamsungOneKorean', Dotum, '돋움', sans-serif;
  background-color: #000;
}
.wrapper .mo {
  display: inline-block;
}
.wrapper .web {
  display: none;
}
.wrapper img {
  width: 100%;
  vertical-align: top;
}
.wrapper .btn {
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.wrapper .blind-txt {
  display: none !important;
}
.wrapper .ss-one {
  font-family: 'SamsungOneKorean', sans-serif;
}
.wrapper .sharp {
  font-family: 'SamsungSharpSans', sans-serif;
}
.wrapper .sharp.sharp-m {
  font-weight: 500;
}
.wrapper section {
  text-align: center;
}
.wrapper section article {
  position: relative;
}
.wrapper section article.top {
  width: 100vw;
  height: 100.97222222vw;
  background-image: url('../images/mo/dv-kv.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.wrapper section article.art1 {
  width: 100vw;
  height: 114.30555556vw;
  background-image: url('../images/mo/dv-art1.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 47.77777778vw;
  box-sizing: border-box;
}
.wrapper section article.art1 .store-wrap {
  margin-bottom: 6.25vw;
}
.wrapper section article.art1 .store-wrap .store-info {
  width: 88.88888889vw;
  height: 28.61111111vw;
  margin-left: auto;
  margin-right: auto;
}
.wrapper section article.art1 .store-wrap .store-info ul li {
  text-align: left;
  display: none;
}
.wrapper section article.art1 .store-wrap .store-info ul li div {
  padding-top: 5.83333333vw;
  padding-right: 0vw;
  padding-bottom: 0vw;
  padding-left: 5.55555556vw;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
.wrapper section article.art1 .store-wrap .store-info ul li div p {
  font-size: 3.61111111vw;
  line-height: 5.27777778vw;
  font-weight: 300;
  color: #fff;
  letter-spacing: -0.03em;
}
.wrapper section article.art1 .store-wrap .store-info ul li div p span {
  font-family: 'SamsungSharpSans', sans-serif;
}
.wrapper section article.art1 .store-wrap .store-info ul li div p span.sharp-m {
  font-weight: 500;
}
.wrapper section article.art1 .store-wrap .store-info ul li div p.tit {
  font-size: 4.16666667vw;
  line-height: 6.11111111vw;
  font-weight: 600;
}
.wrapper section article.art1 .store-wrap .store-info ul li div.nm {
  width: 53.88888889vw;
}
.wrapper section article.art1 .store-wrap .store-info ul li div.operating {
  width: 35vw;
}
.wrapper section article.art1 .store-tab {
  width: 88.88888889vw;
  height: 30.55555556vw;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  align-content: space-between;
}
.wrapper section article.art1 .store-tab .dv-tab {
  font-size: 3.33333333vw;
  line-height: 9.44444444vw;
  color: #fff;
  padding-left: 6.11111111vw;
  box-sizing: border-box;
  width: 42.77777778vw;
  height: 9.44444444vw;
  text-align: left;
  border: 0.27777778vw solid #3b3b3b;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.wrapper section article.art1 .store-tab .dv-tab:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0vw;
  top: 0vw;
  right: auto;
  bottom: auto;
  background-image: url('../images/mo/dv-loc-off.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.wrapper section article.art1[data-store="1"] .store-wrap .store-info ul li.st1,
.wrapper section article.art1[data-store="2"] .store-wrap .store-info ul li.st2,
.wrapper section article.art1[data-store="3"] .store-wrap .store-info ul li.st3,
.wrapper section article.art1[data-store="4"] .store-wrap .store-info ul li.st4,
.wrapper section article.art1[data-store="5"] .store-wrap .store-info ul li.st5,
.wrapper section article.art1[data-store="6"] .store-wrap .store-info ul li.st6,
.wrapper section article.art1[data-store="7"] .store-wrap .store-info ul li.st7 {
  display: block;
}
.wrapper section article.art1[data-store="1"] .store-tab [data-tab="1"],
.wrapper section article.art1[data-store="2"] .store-tab [data-tab="2"],
.wrapper section article.art1[data-store="3"] .store-tab [data-tab="3"],
.wrapper section article.art1[data-store="4"] .store-tab [data-tab="4"],
.wrapper section article.art1[data-store="5"] .store-tab [data-tab="5"],
.wrapper section article.art1[data-store="6"] .store-tab [data-tab="6"],
.wrapper section article.art1[data-store="7"] .store-tab [data-tab="7"] {
  border: 0.27777778vw solid #fff;
}
.wrapper section article.art1[data-store="1"] .store-tab [data-tab="1"]:after,
.wrapper section article.art1[data-store="2"] .store-tab [data-tab="2"]:after,
.wrapper section article.art1[data-store="3"] .store-tab [data-tab="3"]:after,
.wrapper section article.art1[data-store="4"] .store-tab [data-tab="4"]:after,
.wrapper section article.art1[data-store="5"] .store-tab [data-tab="5"]:after,
.wrapper section article.art1[data-store="6"] .store-tab [data-tab="6"]:after,
.wrapper section article.art1[data-store="7"] .store-tab [data-tab="7"]:after {
  background-image: url('../images/mo/dv-loc-on.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.wrapper section article.art2 {
  width: 100vw;
  height: 396.66666667vw;
  background-image: url('../images/mo/dv-art2.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.wrapper section article.art3 {
  width: 100vw;
  height: 423.05555556vw;
  background-image: url('../images/mo/dv-art3.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.wrapper section article.art3 .model {
  width: 79.44444444vw;
  height: 35vw;
  position: absolute;
  left: 9.44444444vw;
  top: 215.27777778vw;
  right: auto;
  bottom: auto;
}
.wrapper section article.art3 .model ul li {
  width: 100%;
  height: 11.11111111vw;
  margin-bottom: 0.97222222vw;
}
.wrapper section article.art3 .model ul li p {
  font-size: 0vw;
  letter-spacing: -0.03em;
  font-family: 'SamsungSharpSans', sans-serif;
  color: #fff;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
.wrapper section article.art3 .model ul li p.sharp-m {
  font-weight: 500;
}
.wrapper section article.art3 .model ul li p.led {
  width: 24.72222222vw;
  height: 11.11111111vw;
  line-height: 11.11111111vw;
  margin-right: 1.11111111vw;
}
.wrapper section article.art3 .model ul li p.reward {
  width: 53.61111111vw;
  height: 11.11111111vw;
  line-height: 4.16666667vw;
  padding-top: 1.11111111vw;
  box-sizing: border-box;
}
.wrapper section article.art4 {
  width: 100vw;
  height: 181.80555556vw;
  background-image: url('../images/mo/dv-art4.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.wrapper section article.art5 {
  width: 100vw;
  height: 214.02777778vw;
  background-image: url('../images/mo/dv-art5.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.wrapper section article.art5 .dv-btn {
  width: 22.63888889vw;
  height: 6.94444444vw;
  position: absolute;
  left: 62.63888889vw;
  z-index: 1;
}
.wrapper section article.art5 .dv-btn.dv-btn1 {
  top: 78.88888889vw;
}
.wrapper section article.art5 .dv-btn.dv-btn2 {
  top: 127.5vw;
}
.wrapper section article.art5 .dv-btn.dv-btn3 {
  top: 176.11111111vw;
}
.wrapper section article.art6 {
  width: 100vw;
  height: 48.05555556vw;
  background-image: url('../images/mo/dv-art6.png');
  background-repeat: no-repeat;
  background-size: contain;
}
/*# sourceMappingURL=style-mo.css.map */