@media screen and (min-width: 721px) {
  .wrapper {
    font-size: 0vw;
    font-family: 'SamsungOneKorean', Dotum, '돋움', sans-serif;
    background-color: #000;
  }
  .wrapper .mo {
    display: none;
  }
  .wrapper .web {
    display: inline-block;
  }
  .wrapper img {
    width: 100%;
    vertical-align: top;
  }
  .wrapper .btn {
    position: relative;
    cursor: pointer;
    z-index: 1;
  }
  .wrapper .blind-txt {
    display: none !important;
  }
  .wrapper .ss-one {
    font-family: 'SamsungOneKorean', sans-serif;
  }
  .wrapper .sharp {
    font-family: 'SamsungSharpSans', sans-serif;
  }
  .wrapper .sharp.sharp-m {
    font-weight: 500;
  }
  .wrapper section article.top {
    width: 100vw;
    height: 41.66666667vw;
    background-image: url('../images/pc/dv-kv.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section article.art1 {
    width: 100vw;
    height: 56.71875vw;
    background-image: url('../images/pc/dv-art1.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 31.5625vw;
    box-sizing: border-box;
  }
  .wrapper section article.art1 .art-inner {
    display: flex;
    justify-content: space-between;
    width: 74.94791667vw;
    height: 18.38541667vw;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row-reverse;
  }
  .wrapper section article.art1 .art-inner .store-wrap {
    margin-bottom: 0vw;
  }
  .wrapper section article.art1 .art-inner .store-wrap .store-info {
    width: 22.96875vw;
    height: 18.38541667vw;
  }
  .wrapper section article.art1 .art-inner .store-wrap .store-info ul li {
    text-align: left;
    display: none;
  }
  .wrapper section article.art1 .art-inner .store-wrap .store-info ul li div {
    padding-top: 2.1875vw;
    padding-right: 0vw;
    padding-bottom: 0vw;
    padding-left: 2.08333333vw;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
  }
  .wrapper section article.art1 .art-inner .store-wrap .store-info ul li div p {
    font-size: 1.35416667vw;
    line-height: 1.97916667vw;
    font-weight: 300;
    color: #fff;
    letter-spacing: -0.03em;
  }
  .wrapper section article.art1 .art-inner .store-wrap .store-info ul li div p span {
    font-family: 'SamsungSharpSans', sans-serif;
  }
  .wrapper section article.art1 .art-inner .store-wrap .store-info ul li div p span.sharp-m {
    font-weight: 500;
  }
  .wrapper section article.art1 .art-inner .store-wrap .store-info ul li div p.tit {
    font-size: 1.5625vw;
    line-height: 2.29166667vw;
    font-weight: 600;
  }
  .wrapper section article.art1 .art-inner .store-wrap .store-info ul li div.nm {
    width: 100%;
    padding-top: 4.16666667vw;
  }
  .wrapper section article.art1 .art-inner .store-wrap .store-info ul li div.operating {
    width: 100%;
  }
  .wrapper section article.art1 .art-inner .store-tab {
    width: 47.70833333vw;
    height: 25.15625vw;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }
  .wrapper section article.art1 .art-inner .store-tab .dv-tab {
    font-size: 1.5625vw;
    line-height: 4.84375vw;
    color: #fff;
    padding-left: 3.80208333vw;
    box-sizing: border-box;
    width: 22.91666667vw;
    height: 4.84375vw;
    text-align: left;
    border: 0.10416667vw solid #3b3b3b;
    position: relative;
    cursor: pointer;
    z-index: 1;
  }
  .wrapper section article.art1 .art-inner .store-tab .dv-tab:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    background-image: url('../images/pc/dv-loc-off.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section article.art1[data-store="1"] .store-wrap .store-info ul li.st1,
  .wrapper section article.art1[data-store="2"] .store-wrap .store-info ul li.st2,
  .wrapper section article.art1[data-store="3"] .store-wrap .store-info ul li.st3,
  .wrapper section article.art1[data-store="4"] .store-wrap .store-info ul li.st4,
  .wrapper section article.art1[data-store="5"] .store-wrap .store-info ul li.st5,
  .wrapper section article.art1[data-store="6"] .store-wrap .store-info ul li.st6,
  .wrapper section article.art1[data-store="7"] .store-wrap .store-info ul li.st7 {
    display: block;
  }
  .wrapper section article.art1[data-store="1"] .store-tab [data-tab="1"],
  .wrapper section article.art1[data-store="2"] .store-tab [data-tab="2"],
  .wrapper section article.art1[data-store="3"] .store-tab [data-tab="3"],
  .wrapper section article.art1[data-store="4"] .store-tab [data-tab="4"],
  .wrapper section article.art1[data-store="5"] .store-tab [data-tab="5"],
  .wrapper section article.art1[data-store="6"] .store-tab [data-tab="6"],
  .wrapper section article.art1[data-store="7"] .store-tab [data-tab="7"] {
    border: 0.10416667vw solid #fff;
  }
  .wrapper section article.art1[data-store="1"] .store-tab [data-tab="1"]:after,
  .wrapper section article.art1[data-store="2"] .store-tab [data-tab="2"]:after,
  .wrapper section article.art1[data-store="3"] .store-tab [data-tab="3"]:after,
  .wrapper section article.art1[data-store="4"] .store-tab [data-tab="4"]:after,
  .wrapper section article.art1[data-store="5"] .store-tab [data-tab="5"]:after,
  .wrapper section article.art1[data-store="6"] .store-tab [data-tab="6"]:after,
  .wrapper section article.art1[data-store="7"] .store-tab [data-tab="7"]:after {
    background-image: url('../images/pc/dv-loc-on.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section article.art2 {
    width: 100vw;
    height: 104.0625vw;
    background-image: url('../images/pc/dv-art2.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section article.art3 {
    width: 100vw;
    height: 235.78125vw;
    background-image: url('../images/pc/dv-art3.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section article.art3 .model {
    width: 57.23958333vw;
    height: 9.6875vw;
    position: absolute;
    left: 21.30208333vw;
    top: 116.77083333vw;
    right: auto;
    bottom: auto;
  }
  .wrapper section article.art3 .model ul li {
    width: 100%;
    height: 2.8125vw;
    margin-bottom: 0.625vw;
  }
  .wrapper section article.art3 .model ul li p {
    font-size: 1.35416667vw;
    line-height: 2.8125vw;
    letter-spacing: -0.03em;
    font-family: 'SamsungSharpSans', sans-serif;
    color: #fff;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
  }
  .wrapper section article.art3 .model ul li p.sharp-m {
    font-weight: 500;
  }
  .wrapper section article.art3 .model ul li p.led {
    width: 17.55208333vw;
    height: 2.8125vw;
    line-height: 2.8125vw;
    margin-right: 0.72916667vw;
  }
  .wrapper section article.art3 .model ul li p.reward {
    width: 38.95833333vw;
    height: 2.8125vw;
    line-height: 2.8125vw;
    padding-top: 0vw;
    box-sizing: border-box;
  }
  .wrapper section article.art4 {
    width: 100vw;
    height: 85.88541667vw;
    background-image: url('../images/pc/dv-art4.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section article.art5 {
    width: 100vw;
    height: 75.83333333vw;
    background-image: url('../images/pc/dv-art5.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section article.art5 .dv-btn {
    width: 12.1875vw;
    height: 3.38541667vw;
    position: absolute;
    z-index: 1;
  }
  .wrapper section article.art5 .dv-btn.dv-btn1 {
    left: 17.96875vw;
    top: 54.375vw;
    right: auto;
    bottom: auto;
  }
  .wrapper section article.art5 .dv-btn.dv-btn2 {
    left: 43.90625vw;
    top: 54.375vw;
    right: auto;
    bottom: auto;
  }
  .wrapper section article.art5 .dv-btn.dv-btn3 {
    left: 69.58333333vw;
    top: 54.375vw;
    right: auto;
    bottom: auto;
  }
  .wrapper section article.art6 {
    width: 100vw;
    height: 16.40625vw;
    background-image: url('../images/pc/dv-art6.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
}
/*# sourceMappingURL=style-t.css.map */