@media screen and (min-width: 721px) {
  .wrapper {
    font-size: 0vw;
    font-family: 'SamsungOneKorean', Dotum, '돋움', sans-serif;
    background-color: #000;
  }
  .wrapper .mo {
    display: none;
  }
  .wrapper .web {
    display: inline-block;
  }
  .wrapper img {
    width: 100%;
    vertical-align: top;
  }
  .wrapper .btn {
    position: relative;
    cursor: pointer;
    z-index: 1;
  }
  .wrapper .blind-txt {
    display: none !important;
  }
  .wrapper .ss-one {
    font-family: 'SamsungOneKorean', sans-serif;
  }
  .wrapper .sharp {
    font-family: 'SamsungSharpSans', sans-serif;
  }
  .wrapper .sharp.sharp-m {
    font-weight: 500;
  }
  .wrapper section article.top {
    width: 100vw;
    height: 41.66666667vw;
    background-image: url('https://images.samsung.com/kdp/editor/common/202403/9ab8addc-8ca8-481e-b487-fda5608ea574.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section article.art1 {
    width: 100vw;
    height: 49.94791667vw;
    background-image: url('https://images.samsung.com/kdp/editor/common/202403/0f1f6429-8793-41cb-99ac-fa36e4df9413.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 31.5625vw;
    box-sizing: border-box;
  }
  .wrapper section article.art1 .art-inner {
    display: flex;
    justify-content: space-between;
    width: 74.94791667vw;
    height: 18.38541667vw;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row-reverse;
  }
  .wrapper section article.art1 .art-inner .store-wrap {
    margin-bottom: 0vw;
  }
  .wrapper section article.art1 .art-inner .store-wrap .store-info {
    width: 22.96875vw;
    height: 18.38541667vw;
  }
  .wrapper section article.art1 .art-inner .store-wrap .store-info ul li {
    text-align: left;
    display: none;
  }
  .wrapper section article.art1 .art-inner .store-wrap .store-info ul li div {
    padding-top: 2.1875vw;
    padding-right: 0vw;
    padding-bottom: 0vw;
    padding-left: 2.08333333vw;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
  }
  .wrapper section article.art1 .art-inner .store-wrap .store-info ul li div p {
    font-size: 1.35416667vw;
    line-height: 1.97916667vw;
    font-weight: 300;
    color: #fff;
    letter-spacing: -0.03em;
  }
  .wrapper section article.art1 .art-inner .store-wrap .store-info ul li div p span {
    font-family: 'SamsungSharpSans', sans-serif;
  }
  .wrapper section article.art1 .art-inner .store-wrap .store-info ul li div p span.sharp-m {
    font-weight: 500;
  }
  .wrapper section article.art1 .art-inner .store-wrap .store-info ul li div p.tit {
    font-size: 1.5625vw;
    line-height: 2.29166667vw;
    font-weight: 600;
  }
  .wrapper section article.art1 .art-inner .store-wrap .store-info ul li div.nm {
    width: 20.20833333vw;
  }
  .wrapper section article.art1 .art-inner .store-wrap .store-info ul li div.operating {
    width: 13.125vw;
  }
  .wrapper section article.art1 .art-inner .store-tab {
    width: 47.70833333vw;
    height: 18.38541667vw;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
  }
  .wrapper section article.art1 .art-inner .store-tab .dv-tab {
    font-size: 1.5625vw;
    line-height: 4.84375vw;
    color: #fff;
    padding-left: 3.80208333vw;
    box-sizing: border-box;
    width: 22.91666667vw;
    height: 4.84375vw;
    text-align: left;
    border: 0.10416667vw solid #3b3b3b;
    position: relative;
    cursor: pointer;
    z-index: 1;
  }
  .wrapper section article.art1 .art-inner .store-tab .dv-tab:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
    background-image: url('https://images.samsung.com/kdp/editor/common/202403/e07fd7e8-b390-42b8-bd98-2fd90a8d1d28.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section article.art1[data-store="1"] .store-wrap .store-info ul li.st1,
  .wrapper section article.art1[data-store="2"] .store-wrap .store-info ul li.st2,
  .wrapper section article.art1[data-store="3"] .store-wrap .store-info ul li.st3,
  .wrapper section article.art1[data-store="4"] .store-wrap .store-info ul li.st4,
  .wrapper section article.art1[data-store="5"] .store-wrap .store-info ul li.st5,
  .wrapper section article.art1[data-store="6"] .store-wrap .store-info ul li.st6 {
    display: block;
  }
  .wrapper section article.art1[data-store="1"] .store-tab [data-tab="1"],
  .wrapper section article.art1[data-store="2"] .store-tab [data-tab="2"],
  .wrapper section article.art1[data-store="3"] .store-tab [data-tab="3"],
  .wrapper section article.art1[data-store="4"] .store-tab [data-tab="4"],
  .wrapper section article.art1[data-store="5"] .store-tab [data-tab="5"],
  .wrapper section article.art1[data-store="6"] .store-tab [data-tab="6"] {
    border: 0.10416667vw solid #fff;
  }
  .wrapper section article.art1[data-store="1"] .store-tab [data-tab="1"]:after,
  .wrapper section article.art1[data-store="2"] .store-tab [data-tab="2"]:after,
  .wrapper section article.art1[data-store="3"] .store-tab [data-tab="3"]:after,
  .wrapper section article.art1[data-store="4"] .store-tab [data-tab="4"]:after,
  .wrapper section article.art1[data-store="5"] .store-tab [data-tab="5"]:after,
  .wrapper section article.art1[data-store="6"] .store-tab [data-tab="6"]:after {
    background-image: url('https://images.samsung.com/kdp/editor/common/202403/e79487bf-1431-4a0e-a380-ce1e004c7f69.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section article.art2 {
    width: 100vw;
    height: 104.0625vw;
    background-image: url('https://images.samsung.com/kdp/editor/common/202403/0acbb8c4-b622-4039-b017-7ce882320677.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section article.art3 {
    width: 100vw;
    height: 83.22916667vw;
    background-image: url('https://images.samsung.com/kdp/editor/common/202403/11e0dce5-ca29-4834-9520-47ec7831f40c.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section article.art3 .dv-btn {
    width: 11.45833333vw;
    height: 2.08333333vw;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    left: 45.78125vw;
    top: 77.91666667vw;
    right: auto;
    bottom: auto;
  }
  .wrapper section article.art3 .dv-btn:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('https://images.samsung.com/kdp/editor/common/202403/db6123c2-733e-4e58-9d7c-f4131636d41d.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0vw;
    top: 0vw;
    right: auto;
    bottom: auto;
  }
  .wrapper section article.art3 .dv-btn.on:after {
    transform: rotateX(180deg);
  }
  .wrapper section article.model {
    width: 100vw;
    height: 20.52083333vw;
    background-image: url('https://images.samsung.com/kdp/editor/common/202403/55137bd5-e621-4fd1-9694-12fbb9ca7de2.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 7.39583333vw;
    box-sizing: border-box;
    display: none;
  }
  .wrapper section article.model ul {
    width: 57.39583333vw;
    height: 13.125vw;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    align-content: space-between;
  }
  .wrapper section article.model ul li {
    width: 57.39583333vw;
    height: 2.8125vw;
    display: flex;
    justify-content: space-between;
  }
  .wrapper section article.model ul li p {
    font-size: 1.35416667vw;
    line-height: 2.8125vw;
    letter-spacing: -0.03em;
    color: #fff;
    text-align: center;
    width: 28.38541667vw;
    height: 2.8125vw;
  }
  .wrapper section article.model.on {
    display: block;
  }
  .wrapper section article.art4 {
    width: 100vw;
    height: 85.625vw;
    background-image: url('https://images.samsung.com/kdp/editor/common/202403/ef21cfa1-7241-45b8-8c32-b287242668cf.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section article.art5 {
    width: 100vw;
    height: 75.83333333vw;
    background-image: url('https://images.samsung.com/kdp/editor/common/202403/1d19cfe7-1131-4cef-998e-e6cbb9b01616.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .wrapper section article.art5 .dv-btn {
    width: 12.1875vw;
    height: 3.38541667vw;
    position: absolute;
    z-index: 1;
  }
  .wrapper section article.art5 .dv-btn.dv-btn1 {
    left: 17.96875vw;
    top: 54.375vw;
    right: auto;
    bottom: auto;
  }
  .wrapper section article.art5 .dv-btn.dv-btn2 {
    left: 43.90625vw;
    top: 54.375vw;
    right: auto;
    bottom: auto;
  }
  .wrapper section article.art5 .dv-btn.dv-btn3 {
    left: 69.58333333vw;
    top: 54.375vw;
    right: auto;
    bottom: auto;
  }
  .wrapper section article.art6 {
    width: 100vw;
    height: 16.40625vw;
    background-image: url('https://images.samsung.com/kdp/editor/common/202403/9ebed633-83e9-42bc-b2a0-43b193ffbece.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
}
/*# sourceMappingURL=style-t-dev.css.map */